<div class="card-body">
    <form [formGroup]="assuranceform">
        <div class="col-md-4 px-1">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>prix (disabled)</label>
              <input type="text" class="form-control" disabled="" placeholder={{assurance.prix}} formControlName="prix" >
            </div>
          </div>
          </div>
        <div class="row">
          <div class="col-md-4 px-1">
            <div class="form-group">
              <label>garantie Conducteur</label>
              <select class="form-control" formControlName="garantie_conducteur">
                <option >yes</option>
                <option >no</option>
              </select>
              <div *ngIf="  assuranceform.get('garantie_conducteur').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
            </div>
          </div>
          <div class="col-md-4 px-1">
            <div class="form-group">
              <label>bris de glace</label>
              <select class="form-control" formControlName="bris_de_glace">
                <option >yes</option>
                <option >no</option>
              </select>
              <div *ngIf="  assuranceform.get('bris_de_glace').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
            </div>
          </div>
          <div class="col-md-4 px-1">
            <div class="form-group">
              <label>vol</label>
              <select class="form-control" formControlName="vol">
                <option >yes</option>
                <option >no</option>
              </select>
              <div *ngIf="  assuranceform.get('vol').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
            </div>
          </div>
          <div class="col-md-4 px-1">
            <div class="form-group" >
              <label>Assistance</label>
              <select class="form-control"  formControlName="assistance">
                <option >yes</option>
                <option >no</option>
              </select>
              <div *ngIf="  assuranceform.get('assistance').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
            </div>
          </div>
          <div class="col-md-4 px-1">
            <div class="form-group">
              <label>protection juridique</label>
              <select class="form-control" formControlName="protection_juridique">
                <option >yes</option>
                <option >no</option>
              </select>
              <div *ngIf="  assuranceform.get('protection_juridique').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
            </div>
          </div>
          <div class="col-md-4 px-1">
            <div class="form-group">
              <label>garantie incendie</label>
              <select class="form-control "formControlName="garentie_incendie">
                <option>yes</option>
                <option >no</option>
              </select>
              <div *ngIf="  assuranceform.get('garentie_incendie').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round" (click)="confirmer()" [disabled]="assuranceform.invalid">update</button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
 
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="userform"  >
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>username </label>
                  <input type="text" class="form-control" formControlName="userName">
                </div>
              </div>
              <div class="form-group">
                <label>Email address </label>
                <input type="text" class="form-control"  formControlName="email">
              </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control"  formControlName="firstName">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control"  formControlName="lastName">
                </div>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control"  formControlName="city">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control"  formControlName="code_postale">
                </div>
              </div>
            </div>
           
  
            <!--
                 <div class="form-group row">
              <label for="example-date-input" class="col-2 col-form-label">cin</label>
              <label class="btn btn-default">
                <input type="file" (change)="selectFile($event);upload()"  formControlName="file"  />
                <div  *ngIf="file==null" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
              </label>
          </div>
            -->
         
            
            
           <form method="post" action="http://localhost:4200/api/File/uploadf " enctype="multipart/form-data">
              <input type="file" name="file" (change)="selectFile($event);upload()" />
            </form>
            
           
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="ajouter()">confirmer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  