<app-navbar-front></app-navbar-front>   
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/assureur.jpg'); ">
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div >
                      <img src="assets\Vermeg_logo.webp" alt="">
                  </div>
                  <h1 style="font-size: 70px; color: rgb(255, 255, 255); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">l'Assurance pour tous</h1>
              </div>
          </div>
      </div>
  </div>
</div>
  <div class="main">
    <router-outlet></router-outlet>
    <app-navigation></app-navigation>
      <div class="section section-dark section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title" style="font-size:30px ;">Adresse</h2><br/>
                      <p class="description" style="font-size:30px ;">
                        R6JM+G46, Rue du Lac Biwa, Tunis 1053 
                      </p><br/>
                     
                      <h2 class="title" style="font-size:30px ;">Email</h2><br/>
                      <p class="description" style="font-size:30px ;">
                        <a>vermeg@gmail.com</a>
                      </p><br/>
                      <h2 class="title" style="font-size:30px ;">Téléphone</h2><br/>
                      <p class="description" style="font-size:30px ;">
                        T (216)  71 160 600 
                      </p><br/> 
                  </div>
                  </div>
              </div>
          </div>
      </div>


<app-footer-front></app-footer-front>