<div class="card-body">
  <form [formGroup]="assuranceform">
      <div class="col-md-4 px-1">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label>prix (disabled)</label>
            <input type="text" class="form-control" disabled="" formControlName="prix" >
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label>garantie Conducteur</label>
            <select class="form-control" formControlName="garantie_conducteur" (click)="getprix()">
              <option >yes</option>
              <option >no</option>
            </select>
            <div *ngIf="  assuranceform.get('garantie_conducteur').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          </div>
        </div>
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label>bris de glace</label> 
            <select class="form-control" formControlName="bris_de_glace" (click)="getprix()">
              <option >yes</option>
              <option >no</option>
            </select>
            <div *ngIf="  assuranceform.get('bris_de_glace').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          </div>
        </div>
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label>vol</label>
            <select class="form-control" formControlName="vol" (click)="getprix()">
              <option >yes</option>
              <option >no</option>
            </select>
            <div *ngIf="  assuranceform.get('vol').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          </div>
        </div>
        <div class="col-md-4 px-1">
          <div class="form-group" >
            <label>Assistance</label>
            <select class="form-control"  formControlName="assistance" (click)="getprix()">
              <option >yes</option>
              <option >no</option>
            </select>
            <div *ngIf="  assuranceform.get('assistance').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          </div>
        </div>
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label>protection juridique</label>
            <select class="form-control" formControlName="protection_juridique" (click)="getprix()">
              <option >yes</option>
              <option >no</option>
            </select>
            <div *ngIf="  assuranceform.get('protection_juridique').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          </div>
        </div>
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label>garantie incendie</label>
            <select class="form-control "formControlName="garentie_incendie" (click)="getprix()">
              <option>yes</option>
              <option >no</option>
            </select>
            <div *ngIf="  assuranceform.get('garentie_incendie').hasError('required')" style="color: red;"><a style="font-weight: bold;">&#x2022;</a> required</div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round" (click)="modifier()" [disabled]="assuranceform.invalid">update</button>
      </div>
    </div>
  </form>
</div>